<!-- <%= form_with(model: student, local: true, html: { class: "needs-validation", novalidate: true }) do |form| %>

<% if student.errors.any? %>
<div class="alert alert-danger">
  <h4>There were errors with your submission:</h4>
  <ul>
    <% student.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


  <div class="row">
        <div class="col-md-6 mb-3">
          <%= form.label :first_name, class: "form-label" %>
          <%= form.text_field :first_name, class: "form-control", required: true %>
          <div class="invalid-feedback">
            Please provide a first name.
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <%= form.label :last_name, class: "form-label" %>
          <%= form.text_field :last_name, class: "form-control", required: true %>
          <div class="invalid-feedback">
            Please provide a last name.
          </div>
        </div>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control", required: true %>
    <div class="invalid-feedback">
      Please provide a valid email address.
    </div>
  </div>

  <div class="row">
            <div class="col-md-6 mb-3">
               <%= form.label :BirthDate, class: "form-label" %>
               <%= form.date_field :birthdate, class: "form-control", required: true %>
             <div class="invalid-feedback">
                Birthdate
             </div>
            </div>

            <div class="col-md-6 mb-3">
                <%= form.label :contact_no, "Phone Number", class: "form-label" %>
                 <%= form.number_field :contact_no, class: "form-control", required: true, maxlength: 10, inputmode: "numeric", title: "Please enter a 10-digit phone number using only digits", oninput: "this.value=this.value.slice(0,10);" %>
                <div class="invalid-feedback">
                  Please enter a valid 10-digit phone number.
                </div>
            </div>
  </div>

<div class="row">
      <div class="col-md-4 mb-3">
        <%= form.label :city, class: "form-label" %>
        <%= form.text_field :city, class: "form-control", required: true %>
        <div class="invalid-feedback">
          City
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <%= form.label :state, class: "form-label" %>
        <%= form.text_field :state, class: "form-control", required: true %>
        <div class="invalid-feedback">
          State
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <%= form.label :country, class: "form-label" %>
        <%= form.select :country, options_for_select(Student.country_code_list.map { |code| [IsoCountryCodes.find(code).name, code] }, @student.country), { include_blank: 'Select Country' }, { class: 'form-control' } %>
        <div class="invalid-feedback">
          Country
        </div>
      </div>
</div>



<div class="mt-3">
  <%= form.submit "Submit", class: "btn btn-warning mr-2" %>
  <%= link_to 'Back To Student List', students_path, class: "btn btn-secondary" %>
</div>


<% end %> -->
