<div class="student-info">
    <h2><%= student.first_name %></h2>
    <p>
      <strong>Email:</strong> <%= student.email %><br>
      <strong>Address:</strong> <%= student.city %>, <%= student.state %>, <%= student.country %>
    </p>
  </div>
  